Source: openpanel-mod-networking
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), libgrace-dev (>= 1.0), openpanel-dev (>= 1.1)
Standards-Version: 3.7.2

Package: openpanel-mod-networking
Architecture: any
Pre-Depends: openpanel-core (>= 1.1), openpanel-authd (>= 1.1)
Depends: openpanel-core (>= 1.1), ${shlibs:Depends}, ${misc:Depends}
Description: OpenPanel module to manage networking 
 Network management module for openpanel
